In [1]:
# import numpy 
import numpy as np

In [2]:
# Create an 1D arary 
A1 = np.array([11, 22, 34, 12, 15])

In [3]:
# Select ith element of A1 
A1[1]

22

In [4]:
# Negative indexing 
A1[-1]

15

In [5]:
# Create an 2D array 
A2 = np.array([[0, 1, 3], [4, 6, 7]])

In [6]:
# Select the first row of A2 
A2[0]

array([0, 1, 3])

In [7]:
# Select the first element of first row 
A2[0][0]

0

In [8]:
# Select the second row of A2 
A2[1]

array([4, 6, 7])

In [9]:
# Select the 3rd element of second row 
A2[1][2]

7